{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <nav class="navbar sticky-top navbar-light bg-light">
        <a class="navbar-brand" href="#"><img class="img-fluid" style="height: 25px;width: 25px;" src="{% static 'icons/filter.png' %}" alt=""></a>
    </nav>
    <div class="row">
        {% for i in land_properties %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{% static 'images/land.png' %}" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ i.id }}</h5>
                    <p class="card-text">{{ i.city }}</p>
                    <a href="" class="btn btn-primary">{{ i.description }}</a>
                    <a href="" class="btn btn-primary">{{ i.description }}</a>
                    <a class="btn btn-primary view" name="{{ i.id }}">View Property</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}





