k{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h3 class="text-center">Land/Plot Resale</h3>
    <form class="form-inline">
        {% csrf_token %}
        <h2 class="alert alert-primary">Property Details</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="plot_area" class="form-label">Plot Area <span class="text-danger">*</span></label>
                    <div class="input-group mb-3">
                        <input type="number" class="form-control" id="plot_area" name="plot-area" placeholder="Plot Area" aria-label="Plot Area" aria-describedby="plot-area-addon" required>
                        <div class="input-group-append">
                            <span class="input-group-text" id="plot-area-addon">sq.ft</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="length" class="form-label">Length</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="length" name="length" placeholder="Length" aria-label="Length" aria-describedby="length-addon" required>
                        <div class="input-group-append">
                            <span class="input-group-text" id="length-addon">ft.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="width" class="form-label">Width</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="width" name="width" placeholder="Width" aria-label="Width" aria-describedby="width-addon" required>
                        <div class="input-group-append">
                            <span class="input-group-text" id="width-addon">ft</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <!-- Locality Details Start -->
        <h4 class="alert alert-primary">Locality Details</h4>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="city" class="form-label">City <span class="text-danger">*</span></label>
                    <select name="city" id="city" class="form-control">
                        <option selected disabled>--Select--</option>
                        <option value="Thoothukudi">Thoothukudi</option>
                        <option value="Tirunelveli">Tirunelveli</option>
                    </select>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="locality" class="form-label">Locality <span class="text-danger">*</span></label>
                    <input type="search" name="locality" id="locality" class="form-control" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="landmark" class="form-label">Landmark / Street <span class="text-danger">*</span></label>
                    <input type="search" name="landmark" id="landmark" class="form-control" placeholder="e.g. Toovipuram street" required>
                </div>
            </div>
        </div>
        <hr> 
        <!-- Locality Details End -->
        <!-- Resale Details Start -->
         <h4 class="alert alert-primary">Resale Details</h4>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="expected_price" class="form-label">Expected Price <span class="text-danger">*</span></label>
                    <input type="number" name="expected_price" id="expected_price" class="form-control" placeholder="Enter expected price" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="description" id="description" cols="30" rows="3" class="form-control" placeholder="Enter description (optional)"></textarea>
                </div>
            </div>
        </div>
        <hr> 
        <!-- Resale Details End -->

        <!-- Upload Picture Start -->
        <h4 class="alert alert-primary">Upload Images of Your Property</h4>
<div id="imageUploadContainer">
    <div class="input-group mb-3">
        <input type="file" class="form-control" name="images" multiple>
        <label class="input-group-text" for="inputGroupFile02">Upload</label>
    </div>
</div>
<button type="button" class="btn btn-success" id="addMore">Add More Images</button>

        
        
        <!-- Upload Picture Stop -->

        <button type="submit" id="land_create" class="btn btn-primary">Submit</button>
    </form>
</div>

<script>
    document.getElementById('addMore').addEventListener('click', function() {
    var inputGroup = document.createElement('div');
    inputGroup.classList.add('input-group', 'mb-3');
    inputGroup.innerHTML = `
        <input type="file" class="form-control" name="images" multiple>
        <label class="input-group-text" for="inputGroupFile02">Upload</label>
    `;
    document.getElementById('imageUploadContainer').appendChild(inputGroup);
});
</script>
<script src="{% static 'js/land_resale_form.js' %}"></script>
{% endblock %}

