<!DOCTYPE html>
<html lang="en" >
  {% load static %}
<head>
  <meta charset="UTF-8">
  <title>CodePen - UI Task</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<!-- 

INSTRUCTIONS:
- Using html and css, create the design we shared with you on Figma.

WHAT WE EXPECT FROM YOU:
- Your code should be scalable and maintainable.
- Your code should be component-based.
- Your code should support all modern browsers.
- You are completely free to use the new css features.
-->

<!-- YOUR HTML STARTS HERE -->

<section class="plans__container">
  <div class="plans">
    <div class="plansHero">
      <h1 class="plansHero__title">Simple, transparent pricing</h1>
      <p class="plansHero__subtitle">No contracts. No suprise fees.</p>
    </div>
    <div class="planItem__container">
      <!--free plan starts -->
      <div class="planItem planItem--free">

        <div class="card">
          <div class="card__header">
            <div class="card__icon symbol symbol--rounded"></div>
            <h2>Free</h2>
          </div>
          <div class="card__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</div>
        </div>

        <div class="price">$0<span>/ month</span></div>

        <ul class="featureList">
          <li>2 links</li>
          <li>Own analytics platform</li>
          <li class="disabled">Chat support</li>
          <li class="disabled">Mobile application</li>
          <li class="disabled">Unlimited users</li>
        </ul>

        <button class="button">Get Started</button>
      </div>
      <!--free plan ends -->

      <!--pro plan starts -->
      <div class="planItem planItem--pro">
        <div class="card">
          <div class="card__header">
            <div class="card__icon symbol"></div>
            <h2>Pro</h2>
            <div class="card__label label">Best Value</div>
          </div>
          <div class="card__desc">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</div>
        </div>

        <div class="price">$18<span>/ month</span></div>

        <ul class="featureList">
          <li>2 links</li>
          <li>Own analytics platform</li>
          <li>Chat support</li>
          <li class="disabled">Mobile application</li>
          <li class="disabled">Unlimited users</li>
        </ul>

        <button class="button button--pink">Get Started</button>
      </div>
      <!--pro plan ends -->

      <!--entp plan starts -->
      <div class="planItem planItem--entp">
        <div class="card">
          <div class="card__header">
            <div class="card__icon"></div>
            <h2>Enterprise</h2>
          </div>
          <div class="card__desc">Nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor</div>
        </div>

        <div class="price">Let's Talk</div>

        <ul class="featureList">
          <li>2 links</li>
          <li>Own analytics platform</li>
          <li>Chat support</li>
          <li>Mobile application</li>
          <li>Unlimited users</li>
          <li>Customize Panel</li>
        </ul>

        <button class="button button--white">Get Started</button>
      </div>
      <!--entp plan ends -->

    </div>
  </div>
</section>
<!-- partial -->
  
</body>
</html>
