{% extends 'base.html' %}
{% load static %}
{% block content %}


<h3 class="alert alert-primary text-center">Property Listings</h3>

  <div class="container">
    <div class="row">
      <h3 class="alert alert-warning text-center">Residential</h3>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="{% static 'images/residential.png' %}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title">Residential - Rent</h5>
            <a href="{% url 'residential_rent_form' %}" class="btn btn-primary">Start Posting Your Ad For Free</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="{% static 'images/residential.png' %}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title">Residential - Resale</h5>
            <a href="{% url 'residential_resale_form' %}" class="btn btn-primary">Start Posting Your Ad For Free</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="{% static 'images/residential.png' %}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title">PG/Hostel</h5>
            <a href="{% url 'residential_pg_hostel_form' %}" class="btn btn-primary">Start Posting Your Ad For Free</a>
          </div>
        </div>
      </div>
      
    </div>

    <hr>

    <div class="row">
      <h4 class="alert alert-warning text-center">Commercial</h4>
      <div class="col-md-6 mb-4">
        <div class="card">
          <img src="{% static 'images/commercial.png' %}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title">Commercial - Rent</h5>
            <a href="{% url 'commercial_rent_form' %}" class="btn btn-primary">Start Posting Your Ad For Free</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card">
          <img src="{% static 'images/commercial.png' %}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title">Commercial - Sale</h5>
            <a href="{% url 'commercial_sale_form' %}" class="btn btn-primary">Start Posting Your Ad For Free</a>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="row">
      <h3 class="alert alert-warning text-center">Land/Plot</h3>
      <div class="col-12">
        <div class="card">
          <img src="{% static 'images/land.png' %}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title">Land/Plot - Resale</h5>
            <a href="{% url 'land_resale_form' %}" class="btn btn-primary">Start Posting Your Ad For Free</a>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}